html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Flame-Regular";
  src: url("../../Fonts/Flame-Regular.woff") format("woff");
  font-weight: 400;
}
header {
  padding-right: 159.5px;
  padding-left: 159.5px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 235, 220);
}
header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .burgermenu {
  text-decoration: none;
  width: 24px;
  height: 24px;
}
header .navbar .burgermenu img {
  width: 24px;
  height: 24px;
}
header .navbar .logo {
  text-decoration: none;
  width: 38px;
  height: 38px;
}
header .navbar .logo img {
  width: 38px;
  height: 38px;
}
header .navbar .buttons {
  display: flex;
  gap: 10px;
}
header .navbar .buttons .account {
  text-decoration: none;
  width: 115px;
  height: 34px;
}
header .navbar .buttons .account button {
  background-color: rgb(167, 27, 0);
  border-radius: 9999px;
  border: none;
  width: 115px;
  height: 34px;
  color: white;
  line-height: 1.5em;
  font-size: 15px;
  font-weight: bold;
  font-family: Flame-Regular;
}
header .navbar .buttons .basket {
  text-decoration: none;
  width: 84.06px;
  height: 34px;
}
header .navbar .buttons .basket button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(80, 35, 20);
  border-radius: 9999px;
  border: none;
  color: white;
  width: 84.06px;
  height: 34px;
  line-height: 1.5em;
  font-size: 15px;
  font-weight: bold;
  font-family: Flame-Regular;
}
header .navbar .buttons .basket button img {
  width: 15px;
  height: 15px;
}