@import url(https://db.onlinewebfonts.com/c/565a681be0eb6f1d92c6bc57c629ea35?family=Flame+Bold);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Flame-Regular";
  src: url("../../Fonts/Flame-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Flame-RegularSans";
  src: url("../../Fonts/Flame-Bold.woff") format("woff");
}
@font-face {
  font-family: "Flame Sans";
  src: url("https://db.onlinewebfonts.com/t/29eee6d957e73039264c9de9fd949d20.eot");
  src: url("https://db.onlinewebfonts.com/t/29eee6d957e73039264c9de9fd949d20.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/29eee6d957e73039264c9de9fd949d20.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/29eee6d957e73039264c9de9fd949d20.woff") format("woff"), url("https://db.onlinewebfonts.com/t/29eee6d957e73039264c9de9fd949d20.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/29eee6d957e73039264c9de9fd949d20.svg#Flame Sans") format("svg");
}
@font-face {
  font-family: "Flame Bold";
  src: url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.eot");
  src: url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.woff") format("woff"), url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/565a681be0eb6f1d92c6bc57c629ea35.svg#Flame Bold") format("svg");
}
header {
  height: 104px;
  background-color: rgb(245, 235, 220);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.41px;
  z-index: 400;
}
header .navbar {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  header .navbar {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  header .navbar {
    width: 375px;
    margin: auto;
  }
}
header .navbar .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
header .navbar .top .burgermenu {
  text-decoration: none;
  width: 24px;
  height: 24px;
}
header .navbar .top .burgermenu img {
  width: 24px;
  height: 24px;
}
header .navbar .top .burgermenu img:hover {
  opacity: 50%;
  transition: 0.3s;
}
header .navbar .top .logo {
  text-decoration: none;
  width: 38px;
  height: 38px;
}
header .navbar .top .logo img {
  left: 100px;
  width: 38px;
  height: 38px;
}
header .navbar .top .logo img:hover {
  opacity: 50%;
  transition: 0.3s;
}
header .navbar .top .buttons {
  display: flex;
  gap: 10px;
}
header .navbar .top .buttons .account {
  text-decoration: none;
  width: 115px;
  height: 34px;
}
header .navbar .top .buttons .account button {
  background-color: rgb(167, 27, 0);
  border-radius: 9999px;
  border: none;
  width: 115px;
  height: 34px;
  color: white;
  font-size: 12px;
  font-family: "Flame Sans";
}
header .navbar .top .buttons .account button:hover {
  opacity: 50%;
  transition: 0.3s;
}
header .navbar .top .buttons .basket {
  text-decoration: none;
  width: 84.06px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  header .navbar .top .buttons .basket {
    display: none;
  }
}
header .navbar .top .buttons .basket button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(80, 35, 20);
  border-radius: 9999px;
  border: none;
  color: white;
  width: 84.06px;
  height: 34px;
  font-size: 12px;
  font-family: "Flame Sans";
}
header .navbar .top .buttons .basket button:hover {
  opacity: 50%;
  transition: 0.3s;
}
header .navbar .top .buttons .basket button img {
  width: 15px;
  height: 15px;
}
header .navbar .bottom {
  display: flex;
  align-items: center;
  height: 48px;
}
header .navbar .bottom a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .navbar .bottom a img {
  width: 20px;
  height: 20px;
}
header .navbar .bottom a span:nth-child(2) {
  font-size: 16px;
  font-family: "Flame Sans";
  font-weight: bold;
  line-height: 24px;
  color: rgb(80, 35, 20);
}
header .navbar .bottom a span:nth-child(3) {
  color: rgb(80, 35, 20);
  font-family: "Flame Sans";
  text-decoration: underline;
}

footer {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  footer {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  footer {
    width: 375px;
    margin: auto;
  }
}
footer .footer {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 1px;
  padding: 20px;
}
footer .footer div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer div:nth-child(3) {
  display: none;
}
@media screen and (max-width: 767px) {
  footer .footer div:nth-child(3) {
    display: flex;
  }
}
footer .footer div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
footer .footer div a:hover {
  opacity: 50%;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  footer .footer div a:hover {
    opacity: 50%;
    transition: 0.3s;
  }
}
@media screen and (max-width: 767px) {
  footer .footer div a:hover {
    opacity: 50%;
    transition: 0.3s;
  }
}
footer .footer div a img {
  width: 20px;
  height: 20px;
}
footer .footer div a img:hover {
  opacity: 50%;
  transition: 0.3s;
}
footer .footer div a span {
  line-height: 20px;
  font-size: 12px;
  font-family: "Flame Sans";
}

body {
  background-color: rgb(245, 235, 220);
}

.order .main-section {
  width: 1200px;
  margin: auto;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .order .main-section {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .order .main-section {
    width: 375px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .order .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.order .main-section .left {
  width: 394px;
  height: 382px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 28px;
}
@media screen and (max-width: 1200px) {
  .order .main-section .left {
    width: 294px;
    height: 282px;
  }
}
@media screen and (max-width: 767px) {
  .order .main-section .left {
    width: 100%;
    height: 282px;
  }
}
@media screen and (max-width: 1200px) {
  .order .main-section .left {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 18px;
  }
}
@media screen and (max-width: 767px) {
  .order .main-section .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.order .main-section .left span {
  font-size: 60px;
  color: rgb(80, 35, 20);
  font-family: "Flame Bold";
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .order .main-section .left span {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .order .main-section .left span {
    font-size: 30px;
  }
}
.order .main-section .left .pickup {
  cursor: pointer;
  width: 300px;
  height: 55px;
}
@media screen and (max-width: 1200px) {
  .order .main-section .left .pickup {
    width: 100%;
    height: 45px;
  }
}
.order .main-section .left .pickup button {
  cursor: pointer;
  background-color: rgb(214, 35, 0);
  width: 300px;
  height: 55px;
  border-radius: 9999px;
  border: none;
  font-size: 18px;
  color: white;
  font-family: "Flame Sans";
  font-weight: bold;
}
.order .main-section .left .pickup button:hover {
  opacity: 50%;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .order .main-section .left .pickup button {
    width: 100%;
    height: 45px;
  }
}
.order .main-section .left .pickup button img {
  width: 16px;
  height: 16px;
}
.order .main-section .left .delivery {
  width: 300px;
  height: 55px;
  border-radius: 9999px;
}
@media screen and (max-width: 1200px) {
  .order .main-section .left .delivery {
    width: 100%;
    height: 45px;
  }
}
.order .main-section .left .delivery button {
  cursor: pointer;
  border: 2px solid red;
  background-color: transparent;
  width: 300px;
  height: 55px;
  border-radius: 9999px;
  font-size: 18px;
  color: white;
  font-family: "Flame Sans";
  font-weight: bold;
  color: rgb(214, 35, 0);
}
.order .main-section .left .delivery button:hover {
  opacity: 50%;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .order .main-section .left .delivery button {
    width: 100%;
    height: 45px;
  }
}
.order .main-section .left .delivery button img {
  width: 16px;
  height: 16px;
}
.order .main-section .right {
  z-index: -1;
  width: 788.787px;
  height: 382.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .order .main-section .right {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .order .main-section .right {
    width: 500.787px;
    height: 300.6px;
  }
}
.order .main-section .right img {
  width: 700.787px;
  height: 382.6px;
  background-size: contain;
}
@media screen and (max-width: 1200px) {
  .order .main-section .right img {
    width: 500.787px;
    height: 300.6px;
  }
}

.cards {
  width: 1200px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .cards {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .cards {
    width: 375px;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.cards .card {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 2.22px;
  width: 580px;
  height: 515px;
  background-color: white;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .cards .card {
    width: 100%;
    height: 315px;
  }
}
.cards .card .top a img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 580px;
  height: 290px;
}
@media screen and (max-width: 767px) {
  .cards .card .top a img {
    width: 100%;
    height: 190px;
  }
}
.cards .card .bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 220px;
}
@media screen and (max-width: 767px) {
  .cards .card .bottom {
    height: 120px;
    padding: 10px;
  }
}
.cards .card .bottom .info {
  display: flex;
  flex-direction: column;
}
.cards .card .bottom .info h4 {
  line-height: 28px;
  margin-bottom: 8px;
  font-family: "Flame Bold";
  font-size: 24px;
  color: rgb(80, 35, 20);
}
@media screen and (max-width: 767px) {
  .cards .card .bottom .info h4 {
    line-height: 18px;
    margin-bottom: 2px;
    font-family: "Flame Bold";
    font-size: 14px;
  }
}
.cards .card .bottom .info span {
  font-family: "Flame Sans";
  font-size: 13px;
  line-height: 20px;
  color: rgb(80, 35, 20);
}
@media screen and (max-width: 767px) {
  .cards .card .bottom .info span {
    font-family: "Flame Sans";
    font-size: 10px;
    line-height: 10px;
  }
}
.cards .card .bottom .info a {
  font-family: "Flame Sans";
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration-line: underline;
  line-height: 20px;
  color: rgb(80, 35, 20);
  cursor: pointer;
}
.cards .card .bottom .info a:hover {
  opacity: 50%;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .cards .card .bottom .info a {
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration-line: underline;
    line-height: 10px;
  }
}
.cards .card .bottom .button {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  height: 100%;
}
.cards .card .bottom .button button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: 2px solid red;
  background-color: transparent;
  border-radius: 9999px;
  color: rgb(214, 35, 0);
  font-size: 12px;
  font-weight: bold;
  font-family: "Flame Sans";
}
.cards .card .bottom .button button:hover {
  opacity: 50%;
  transition: 0.3s;
  background-color: rgb(255, 0, 0);
  color: white;
}
@media screen and (max-width: 767px) {
  .cards .card .bottom .button button {
    cursor: pointer;
    width: 60px;
    height: 20px;
    border: 1px solid red;
    background-color: transparent;
    border-radius: 9999px;
    color: rgb(214, 35, 0);
    font-size: 6px;
    font-weight: bold;
  }
}

.ads {
  background-color: rgba(0, 0, 0, 0.04);
  height: 450px;
  margin-top: 200px;
}
@media screen and (max-width: 1200px) {
  .ads {
    margin-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .ads {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 55px;
  }
}
.ads .ad {
  width: 1200px;
  margin: auto;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .ads .ad {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .ads .ad {
    width: 375px;
    margin: auto;
  }
}
.ads .ad .left {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .ads .ad .left {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .ads .ad .left {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20px;
  }
}
.ads .ad .left img {
  position: relative;
  top: -40px;
  width: 300px;
}
.ads .ad .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .ads .ad .right {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .ads .ad .right {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.ads .ad .right h4 {
  font-size: 48px;
  color: rgb(80, 35, 20);
  font-family: "Flame Bold";
}
@media screen and (max-width: 1200px) {
  .ads .ad .right h4 {
    font-size: 35px;
    color: rgb(80, 35, 20);
    font-family: "Flame Bold";
  }
}
@media screen and (max-width: 767px) {
  .ads .ad .right h4 {
    font-size: 20px;
  }
}
.ads .ad .right .link {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .ads .ad .right .link {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.ads .ad .right .link .appstore img {
  width: 200px;
  height: 70px;
}
.ads .ad .right .link .appstore img:hover {
  opacity: 50%;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .ads .ad .right .link .appstore img {
    width: 150px;
    height: 45px;
  }
}
.ads .ad .right .link .playstore img {
  width: 200px;
  height: 70px;
  border-radius: 10px;
}
.ads .ad .right .link .playstore img:hover {
  opacity: 50%;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .ads .ad .right .link .playstore img {
    width: 150px;
    height: 45px;
  }
}
.ads .ad .right span {
  font-family: "Flame Sans";
  margin-top: 32px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(80, 35, 20);
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .ads .ad .right span {
    font-family: "Flame Sans";
    margin-top: 22px;
    font-size: 10px;
    line-height: 20px;
    color: rgb(80, 35, 20);
    text-align: left;
  }
}

.terms .term {
  background-color: rgb(80, 35, 20);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
}
.terms .term span {
  width: 1200px;
  margin: auto;
  font-size: 12px;
  font-family: "Flame Sans";
  line-height: 24px;
  color: rgb(245, 235, 220);
}
@media screen and (max-width: 1200px) {
  .terms .term span {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .terms .term span {
    width: 375px;
    margin: auto;
  }
}
.terms .term span a {
  color: rgb(245, 235, 220);
  font-size: 12px;
  text-decoration-line: underline;
  font-family: "Flame Sans";
  line-height: 24px;
  cursor: pointer;
}
.terms .term span a:hover {
  opacity: 50%;
  transition: 0.3s;
}

.location-navbar {
  background-color: rgb(214, 35, 0);
  height: 40px;
  display: flex;
}
.location-navbar .nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .location-navbar .nav {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .location-navbar .nav {
    width: 375px;
    margin: auto;
  }
}
.location-navbar .nav span {
  width: 1200px;
  text-align: center;
  line-height: 32px;
  font-family: "Flame Bold";
  font-size: 24px;
  color: rgb(245, 235, 220);
}
.location-navbar .nav a button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.location-navbar .nav a button:hover {
  opacity: 50%;
  transition: 0.3s;
}
.location-navbar .nav a button img {
  width: 24px;
  height: 24px;
}

.selectors {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .selectors {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .selectors {
    width: 375px;
    margin: auto;
  }
}
.selectors .selector {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.selectors .selector .top {
  margin-top: 15px;
  height: 48px;
  display: flex;
  width: 100%;
}
.selectors .selector .top .pick-up {
  width: 100%;
}
.selectors .selector .top .pick-up button {
  height: 100%;
  width: 100%;
  background-color: rgb(80, 35, 20);
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(245, 235, 220);
  border: none;
}
.selectors .selector .top .pick-up button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.selectors .selector .top .delivery {
  width: 100%;
}
.selectors .selector .top .delivery button {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Flame Sans";
  border: 2px solid rgb(198, 198, 145);
  color: rgb(80, 35, 20);
}
.selectors .selector .top .delivery button:hover {
  border: 2px solid rgb(136, 136, 99);
  transition: 0.3s;
}
.selectors .selector .bottom {
  width: 100%;
}
.selectors .selector .bottom input {
  width: 100%;
  outline: none;
  cursor: auto;
  background-color: rgb(255, 255, 255);
  height: 48px;
  border: 2px solid rgb(198, 198, 145);
  padding-left: 10px;
}
.selectors .selector .bottom input:hover {
  border: 2px solid rgb(136, 136, 99);
  transition: 0.3s;
}
.selectors .selector .bottom input::-moz-placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.selectors .selector .bottom input::placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}

.locations {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .locations {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .locations {
    width: 375px;
    margin: auto;
  }
}
.locations .top {
  margin-top: 5px;
  display: flex;
}
.locations .top a {
  width: 100%;
}
.locations .top a button {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: rgb(80, 35, 20);
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: none;
  font-family: "Flame Sans";
}
.locations .top a .nearby {
  color: red;
  border-bottom: 3px solid red;
  font-weight: bold;
}
.locations .bottom .location {
  height: 100px;
  border: 2px solid rgb(198, 198, 145);
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
.locations .bottom .location .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.locations .bottom .location .left h1 {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Flame Bold";
  color: rgb(80, 35, 20);
}
.locations .bottom .location .left .mid span {
  font-size: 13px;
  font-family: "Flame Sans";
  line-height: 20px;
  color: rgb(80, 35, 20);
}
.locations .bottom .location .left .functionality {
  font-size: 13px;
  font-family: "Flame Sans";
  line-height: 20px;
  color: rgb(80, 35, 20);
}
.locations .bottom .location .right {
  display: flex;
  justify-content: center;
  height: 100%;
}
.locations .bottom .location .right button {
  background-color: transparent;
  border: none;
}
.locations .bottom .location .right button img {
  width: 24px;
  height: 24px;
  display: none;
}
.locations .bottom .location .right button img.active {
  display: initial;
}

.section-delivery {
  width: 1200px;
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .section-delivery {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .section-delivery {
    width: 375px;
    margin: auto;
  }
}
.section-delivery .address {
  margin-bottom: 4px;
  font-size: 38px;
  line-height: 20px;
  font-family: "Flame Bold";
  color: rgb(80, 35, 20);
}
.section-delivery input {
  width: 100%;
  outline: none;
  cursor: auto;
  background-color: rgb(255, 255, 255);
  height: 48px;
  border: 2px solid rgb(198, 198, 145);
  padding-left: 10px;
}
.section-delivery input:hover {
  border: 2px solid rgb(136, 136, 99);
  transition: 0.3s;
}
.section-delivery input::-moz-placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-delivery input::placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-delivery .checkout {
  font-family: "Flame Sans";
  font-size: 15px;
  color: red;
}
.section-delivery .terms {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-delivery .terms a {
  color: red;
  text-decoration: none;
}
.section-delivery button {
  cursor: pointer;
  background-color: rgb(214, 35, 0);
  width: 300px;
  height: 55px;
  border-radius: 9999px;
  border: none;
  font-size: 18px;
  color: white;
  font-family: "Flame Sans";
  font-weight: bold;
}
.section-delivery button:hover {
  opacity: 50%;
  transition: 0.3s;
}

.sign-up {
  height: 50px;
}
.sign-up div {
  width: 1200px;
  margin: auto;
  padding: 15px;
}
@media screen and (max-width: 1200px) {
  .sign-up div {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .sign-up div {
    width: 375px;
    margin: auto;
  }
}
.sign-up div a button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sign-up div a button img {
  width: 20px;
  height: 20px;
}

.section-signup {
  width: 1200px;
  margin: auto;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .section-signup {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .section-signup {
    width: 375px;
    margin: auto;
  }
}
.section-signup .container {
  background-color: white;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-signup .container h2 {
  font-family: "Flame Bold";
  font-size: 70px;
  color: rgb(80, 35, 20);
  margin-bottom: 20px;
}
.section-signup .container .signup-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.section-signup .container .signup-form .email {
  margin-bottom: 20px;
  outline: none;
  width: 100%;
  cursor: auto;
  background-color: rgb(255, 255, 255);
  height: 50px;
  border: 2px solid rgb(245, 235, 220);
  border-radius: 12px;
  padding-left: 10px;
}
.section-signup .container .signup-form .email:hover {
  border: 2px solid rgb(136, 136, 99);
  transition: 0.3s;
}
.section-signup .container .signup-form .email::-moz-placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .email::placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .username {
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  cursor: auto;
  background-color: rgb(255, 255, 255);
  height: 50px;
  border: 2px solid rgb(245, 235, 220);
  border-radius: 12px;
  padding-left: 10px;
}
.section-signup .container .signup-form .username:hover {
  border: 2px solid rgb(136, 136, 99);
  transition: 0.3s;
}
.section-signup .container .signup-form .username::-moz-placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .username::placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .password {
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  cursor: auto;
  background-color: rgb(255, 255, 255);
  height: 50px;
  border: 2px solid rgb(245, 235, 220);
  border-radius: 12px;
  padding-left: 10px;
}
.section-signup .container .signup-form .password:hover {
  border: 2px solid rgb(136, 136, 99);
  transition: 0.3s;
}
.section-signup .container .signup-form .password::-moz-placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .password::placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .repassword {
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  cursor: auto;
  background-color: rgb(255, 255, 255);
  height: 50px;
  border: 2px solid rgb(245, 235, 220);
  border-radius: 12px;
  padding-left: 10px;
}
.section-signup .container .signup-form .repassword:hover {
  border: 2px solid rgb(136, 136, 99);
  transition: 0.3s;
}
.section-signup .container .signup-form .repassword::-moz-placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .repassword::placeholder {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-form .signup-btn {
  background-color: transparent;
  height: 48px;
  width: 50%;
  border-radius: 20px;
  background-color: rgb(245, 235, 220);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: none;
  font-size: 15px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
  margin-bottom: 20px;
}
.section-signup .container .signup-form .signup-btn:hover {
  border: 1px solid rgb(136, 136, 99);
  transition: 0.5s;
}
.section-signup .container .signup-link {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(80, 35, 20);
}
.section-signup .container .signup-link a {
  font-size: 14px;
  font-family: "Flame Sans";
  color: rgb(0, 0, 0);
}

.menu-navbar {
  width: 1200px;
  margin: auto;
  margin-top: 15px;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .menu-navbar {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .menu-navbar {
    width: 375px;
    margin: auto;
  }
}
.menu-navbar a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  text-decoration: none;
}
.menu-navbar a div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Flame Sans";
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: black;
}
.menu-navbar a .navbar-menu {
  color: rgb(214, 35, 0);
  border-bottom: 3px solid rgb(214, 35, 0);
}

.section-menu {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .section-menu {
    width: 767px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .section-menu {
    width: 375px;
    margin: auto;
  }
}
.section-menu .cards .eat-card {
  height: 244px;
  display: flex;
}
.section-menu .cards .eat-card a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.section-menu .cards .eat-card a img {
  height: 190px;
}
.section-menu .cards .eat-card a span {
  font-size: 18px;
  line-height: 20px;
  color: rgb(80, 35, 20);
  font-family: "Flame Sans";
  font-weight: bold;
}